
                  
<div ng-repeat="u in jobs.jobs">
<div style="margin:0px 10px 10px 100px">
<h2><span ng-bind="u.jobName"></span></h2>
<h6>posted on </h6>
<div class="container">
<b>Excepted Skill set:</b><span ng-bind="u.technologiesExpected"></span><br>
<b>Designation:</b><span ng-bind="u.designation"></span><br>
<b>Location:</b><span ng-bind="u.location"></span><br></div>
<button style="margin-top: -55px;
    margin-left: 438px;" type="button" class="btn btn btn-warning">Apply</button>
<hr>
</div></div>